{% extends 'base.html.twig' %}

{% block body %}


    {#######################################################################################
        ~~~~~~~~~~~~~~~~~~~~~~~~  AFFICHAGE TABLEAU PANIER    ~~~~~~~~~~~~~~~~~~~~~~~~~~~
    ########################################################################################}

  
    <div class="container">

        <div class="d-flex justify-content-center my-5">

            <h1><strong>Votre panier</strong></h1>

        </div>

        <table class="table">

            <thead>

                <tr>

                    <th> Image </th>
                    <th> Plat </th>
                    <th> Quantité </th>
                    <th> Prix unitaire </th>
                    <th> Total </th>
                    <th> Actions </th>

                </tr>

            </thead>

            <tbody>

                {% for element in data %}

                    <tr>

                        <td><img src="food/{{ element . platUnite . image }}" alt="{{ element . platUnite . libelle }}" style="width: 100px;"></td>

                        <td>{{ element . platUnite . libelle }}</td>

                        <td>{{ element . quantity }}</td>

                        <td>{{ element . platUnite . prix }} €</td>

                        <td>{{ element . prix }} €</td>

                        <td>

                            <a href="{{ path('retirer', {'id': element . platUnite . id}) }}"><img src="{{ asset('images_the_district/minus.png') }}" alt="Retirer" style="width: 4%;"></a>
                            <a href="{{ path('ajouter', {'id': element . platUnite . id}) }}"><img src="{{ asset('images_the_district/plus.png') }}" alt="Ajouter" style="width: 5%;"></a>
                            <a href="{{ path('supprimer', {'id': element . platUnite . id}) }}"><img src="{{ asset('images_the_district/poubelle.png') }}" alt="Supprimer" style="width: 4%;"></a>

                        </td>

                    </tr>

                {% endfor %}

            </tbody>

        </table>

        <p class="text-center"><strong>Total de la commande : </strong>{{ total }} €</p>

        <a href="{{ path('app_plat') }}" class="btn btn-light btn-lg zoom btns">Ajouter un plat</a>

        <a type="submit" href="{{ path('app_commande') }}" class="btn btn-light btn-lg zoom btns">Valider le panier</a>

    </div>

{% endblock %}
